---
layout: landing
---

<section class="c-hero">
    <div class="o-wrapper o-wrapper--wide o-wrapper--flush u-ph+@tablet">
        <div class="o-box c-hero__body u-pb+ u-1/2@tablet u-2/3@desktop">
            <h2 class="c-hero__headline">Our work:</h2>
            <a class="c-btn c-btn--white c-btn--block u-mb" href="/kesi/">
                <div class="o-flag">
                    <div class="o-flag__img">
                        <img src="/assets/img/kesi-logo.svg" style="max-width: 120px" />
                    </div>
                    <div class="o-flag__body u-text-left">
                        <h3 class="u-mb--">Katutubo Excel Schools</h3>
                        <p class="u-lead u-muted">Education for Iraya natives</p>
                    </div>
                </div>
            </a>
            <a class="c-btn c-btn--white c-btn--block" href="/prison-ministry/">
                <div class="o-flag">
                    <div class="o-flag__img">
                        <img src="/assets/img/sdapm-logo.svg" style="max-width: 120px" />
                    </div>
                    <div class="o-flag__body u-text-left">
                        <h3 class="u-mb--">SDA Prision Ministry</h3>
                        <p class="u-lead u-muted">Encouraging inmates to share the gospel</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2@tablet u-3/5@desktop">
                <div class="o-box u-ml+@tablet u-mr+@tablet">
                    <h2 class="u-h1 u-white">Our work</h2>
                    <a class="c-btn c-btn--white u-mb" href="/kesi/">
                        <div class="o-flag">
                            <div class="o-flag__img">
                                <img src="/assets/img/kesi-logo.svg" style="max-width: 120px" />
                            </div>
                            <div class="o-flag__body">
                                <h3 class="u-mb--">Katutubo Excel Schools</h3>
                                <p class="u-lead u-muted">Education for Iraya natives</p>
                            </div>
                        </div>
                    </a>
                    <a class="c-btn c-btn--white" href="/prison-ministry/">
                        <div class="o-flag">
                            <div class="o-flag__img">
                                <img src="/assets/img/kesi-logo.svg" style="max-width: 120px" />
                            </div>
                            <div class="o-flag__body">
                                <h3 class="u-mb--">Sablayan Prision Ministry</h3>
                                <p class="u-lead u-muted">Encouraging inmates to share the truth</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div> -->
    </div>

    <div class="c-hero__img u-hidden-until@tablet">
        {% include lmp-map.svg %}
    </div>
</section>

<!-- <h3 class="u-h5 u-text u-mb--">Education for Irian Mangyan natives</h3>
<p>Conditions in the Mangyan villages are terrible. Disease, malnutrition, illiteracy, ignorance and exploitation are devastating both the lives and livelihoods of the Irian Mangyans. Our goal is to bring freedom in Christ through education, community development and evangelism.</p>
<h3 class="u-h5 u-text u-mb--"><a class="c-link" href="/prison-ministry/">Prison Ministry</a></h3>
<p class="u-mb-">Two full-time layworkers in our prison ministry train and encourage inmates who are receptive to Bible truths to become effective missionaries in the prison. The ministry has been very successful and hundreds have been brought to the Lord.</p>
<a class="c-btn c-btn--ghost c-btn--primary c-btn--tiny" href="/prison-ministry/">More about the Prison Ministry</a> -->



<section class="c-info c-info--gray">
    <div class="o-wrapper o-wrapper--wide o-wrapper--flush">
        <div class="o-box u-pv+ u-mh+@tablet">
            <div class="o-layout">
                <div class="o-layout__item u-2/5@tablet u-mb u-mb0@tablet">
                    <div class="o-ratio  o-ratio--16:9">
                        <iframe title="Video about the Laymen Ministries Express III" src="https://www.youtube-nocookie.com/embed/2do3VAdRqs4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="o-layout__item u-3/5@tablet">
                    <h3 class="u-h5 u-text ">Laymen Ministries Express III</h3>
                    <p class="">For 20 years, Laymen Ministries Philippines has been traveling on the South China Sea to deliver and support missionaries to very remote native villages on the northern end of the island of Mindoro, Philippines. Now the time has come for a new boat.</p>
                    <p class="u-mb0">The Video shows the history and progress of the Laymen Ministries Express III in connection with our educational work.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <hr class="u-mt0 u-mb++"/> -->

<section id="articles" class="o-wrapper u-mt++">

    <header class="u-text-center u-mb+">
        <h1 class="u-mb0">Articles</h1>
        <nav class="u-text-center u-muted">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
              <a href="/#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
              {% else %}
              <a href="/page{{ paginator.previous_page }}#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
              {% endif %}
            {% endif %}
            Page {{paginator.page}}
            {% if paginator.next_page %}
              &middot; <a href="/page{{ paginator.next_page }}#articles" class="btn btn-outline">Older &rsaquo;</a>
            {% endif %}
        </nav>
    </header>

    <ul class="o-list-bare">
        {% for post in paginator.posts %}
            {% unless post.draft %}
                <li>
                    {% include article-preview.html %}
                </li>
            {% endunless %}
        {% endfor %}
    </ul>

    <nav class="u-text-center u-muted">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="/#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
          {% else %}
          <a href="/page{{ paginator.previous_page }}#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
          {% endif %}
        {% endif %}
        Page {{paginator.page}}
        {% if paginator.next_page %}
          &middot; <a href="/page{{ paginator.next_page }}#articles" class="btn btn-outline">Older &rsaquo;</a>
        {% endif %}
    </nav>

</section>
