---
layout: landing
---

<section>
    <div class="o-layout">
        <div class="o-layout__item u-1/2@tablet u-3/5@desktop">
            <div class="o-box o-box--large">
                <h2>Our work in the Philippines</h2>
                <h3 class="u-h5 u-thin u-mb--">Education for Irian Mangyan natives</h3>
                <p class="u-muted">Conditions in the Mangyan villages are terrible. Disease, malnutrition, illiteracy, ignorance and exploitation are devastating both the lives and livelihoods of the Irian Mangyans. Our goal is to bring freedom in Christ through education, community development and evangelism.</p>
                <h3 class="u-h5 u-thin u-mb--">Prison Ministry</h3>
                <p class="u-muted">Two full-time layworkers in out prison ministry train and encourage inmates that are receptive to Bible truths to become effective missionaries in the prison. The ministry has been very successful and hundreds have been brought to the Lord.</p>
            </div>
        </div>
        <div class="o-layout__item u-1/2@tablet u-2/5@desktop" style="line-height: 0;">
            {% include lmp-map.svg %}
        </div>
    </div>
</section>

<hr class="u-mt0 u-mb++"/>

<section id="articles" class="o-wrapper">

    <header class="u-text-center u-mb+">
        <h1 class="u-mb0">Articles</h1>
        <nav class="u-text-center u-muted">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
              <a href="/#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
              {% else %}
              <a href="/page{{ paginator.previous_page }}#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
              {% endif %}
            {% endif %}
            Page {{paginator.page}}
            {% if paginator.next_page %}
              &middot; <a href="/page{{ paginator.next_page }}#articles" class="btn btn-outline">Older &rsaquo;</a>
            {% endif %}
        </nav>
    </header>

    <ul class="o-list-bare">
        {% for post in paginator.posts %}
            {% unless post.draft %}
                <li>
                    {% include article-preview.html %}
                </li>
            {% endunless %}
        {% endfor %}
    </ul>

    <nav class="u-text-center u-muted">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="/#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
          {% else %}
          <a href="/page{{ paginator.previous_page }}#articles" class="btn btn-outline">&lsaquo; Newer</a> &middot;
          {% endif %}
        {% endif %}
        Page {{paginator.page}}
        {% if paginator.next_page %}
          &middot; <a href="/page{{ paginator.next_page }}#articles" class="btn btn-outline">Older &rsaquo;</a>
        {% endif %}
    </nav>

</section>
