<footer class="c-site-footer">
    <div class="o-wrapper">
        &copy; {{ site.time | date: "%Y" }}

        <nav class="c-site-footer__nav">
            <ul class="c-nav-list c-nav-list--dark c-nav-list--middot">
                <li class="c-nav-list__item">
                    <a class="c-nav-list__link" href="/">
                        {{ site.inc.company }}
                    </a>
                </li>
                {% include _nav__items.html %}
            </ul>
        </nav>

        <nav class="c-site-footer__social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>
