<footer class="c-site-footer">
    <div class="o-wrapper">
        &copy; {{ site.time | date: "%Y" }}

        <nav class="c-site-footer__nav c-site-nav c-site-nav--footer">
            <ul class="c-site-nav__list">
                <li class="c-site-nav__item"><a class="c-site-nav__link" href="{{ site.inc.url }}">{{ site.inc.company }}</a></li>
                {% include _nav__items.html %}
            </ul>
        </nav>

        <nav class="c-site-footer__social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>
