<meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>

<meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>
{% if site.inc.cover-image %}
<meta property="og:image" content="{{ site.url }}/images/{{ site.inc.cover-image }}"/>
{% endif %}
{% if page.cover-image %}
<meta property="og:image" content="{{ site.url }}/images/{{ page.cover-image }}"/>
{% endif %}

{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords:72 }}"/>
<meta name="description" content="{{ page.excerpt | strip_html | truncatewords:72 }}"/>
{% endif %}

<meta property="og:site_name" content="{{ site.inc.title }}">
