{% include _mobile-nav.html %}

<nav id="navigation" class="c-site-nav">

    <ul class="c-site-nav__list  c-nav-list c-nav-list--wide
        u-hidden@until-tablet">

        <li class="c-nav-list__item">
            <a class="c-nav-list__link" href="/">
                <img class="c-site-nav__logo"
                    src="{{ site.inc.logo }}" alt="LMP Logo">
            </a>
        </li>

        {% include _nav__items.html %}

    </ul>

    <div class="u-content-center  u-hidden@from-tablet">
        <button name="mobieNavBtn" data="open"
            class="c-btn c-btn--small c-btn--ghost c-btn--tertiary">
            <span class="u-ic u-ic--menu u-ic--large"></span>
        </button>
    </div>

</nav>
