<article class="c-article">

    <a class="c-article__overlay" href="{{ post.url }}" title="Link to article '{{ post.title }}'"></a>

    {% if post.cover-image %}
        {% assign image = 'images/' | append: post.cover-image %}
    {% elsif post.categories contains "Pinagbayanan" %}
        {% assign image = '/assets/img/pinagbayanan-3by1.jpg' %}
    {% elsif post.categories contains "Binuangan" %}
        {% assign image = '/assets/img/binuangan-3by1.jpg' %}
    {% elsif post.categories contains "Agbalite" %}
        {% assign image = '/assets/img/agbalite-3by1.jpg' %}
    {% elsif post.categories contains "Sulong-Ipil" %}
        {% assign image = '/assets/img/sulung-ipil-3by1.jpg' %}
    {% elsif post.categories contains "High School" %}
        {% assign image = '/assets/img/high-school-3by1.jpg' %}
    {% elsif post.categories contains "Prison Ministry" %}
        {% assign image = '/assets/img/prison-ministry-3by1.jpg' %}
    {% else %}
        {% assign image = '/assets/img/placeholder-3by1.jpg' %}
    {% endif %}

    <figure class="c-figure c-figure--wide c-figure--round c-article__image"
        style="background-image: url({{image}})"></figure>

    <header class="c-article__header">
        <h2 class="c-article__title">
            <a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a>
        </h2>

        <div class="c-article__meta">
            {% if post.categories %}
                <ul class="c-category-list c-category-list--stay-above">
                    {% for c in post.categories %}
                        <li class="c-category-list__item">
                            <a class="c-category-list__link" href="/category/{{ c | slugify }}">{{ c }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </header>

    <section class="c-article__body u-mb">
        {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % | append: " ..." }}
        {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
        {% endif %}
    </section>

    <footer class="c-article__meta">
        By <address>{{ post.author.name }}</address> &mdash;
        <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
    </footer>

    <hr>

</article>
