/* ==========================================================================
   #SITE-COVER
   ========================================================================== */

.c-site-cover {
    position: relative;
    margin-bottom: $unit-large;
    background-color: #111;
    background-position: center center;
    background-size: cover;
    min-height: $unit * 8;

    @include mq($from: tablet) {
        margin-bottom: $unit-huge;
        padding-top: 34.28%;
    }

    &:after {
        @include clothoid-gradient(#000, .55, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        content: "";
    }
}

    .c-site-cover__inner {
        background-color: rgba(0, 0, 0, .15);
        padding: $unit-huge 0;
        width: 100%;
        text-align: center;
        color: #fff;

        @include mq($from: tablet) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

        .c-site-cover__title {
            margin-bottom: 0;
            line-height: 1.4em;
            font-size: 110%;
            font-weight: 600;

            @include mq($from: tablet) {
                font-size: 260%;
            }
        }

        .c-site-cover__subtitle {
            opacity: .6;
            font-size: 60%;
            font-weight: 400;

            @include mq($from: tablet) {
                font-size: 120%;
            }
        }
