/* ==========================================================================
   #CATEGORY-LIST
   ========================================================================== */

.c-category-list {
    margin-left: 0;
    list-style: none;
    line-height: 1;
    color: $c-textmuted;


    &--stay-above {
        position: relative;
        z-index: 3;
    }
}

    .c-category-list__item {
        display: inline-block;
        font-size: 80%;

        &:not(:last-child):after {
            content: "\a0\b7"
        }
    }

        .c-category-list__link {
            border-bottom: 1px dotted;
            color: $c-textmuted;

            &:hover {
                color: $c-text;
            }
        }
