/* CONFIGURATION */

/* Bodytext font */
$font: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: 'Crimson Text', 'Times', serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

$menu: #fff;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "inuitcss";
@import "responsive";
