/* CONFIGURATION */

/* Bodytext font */
$font: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: 'Crimson Text', 'Times', serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

$menu: #fff;


/* scrim-gradient is processed into: */
@mixin scrim-gradient($from: 1, $to: 0) {
    $diff: $from - $to;
    background-image: linear-gradient(
        hsla(0, 0%, 0%, $from) 0%,
        hsla(0, 0%, 0%, $from - $diff*0.7) 50%,
        hsla(0, 0%, 0%, $from - $diff*0.85) 65%,
        hsla(0, 0%, 0%, $from - $diff*0.925) 75.5%,
        hsla(0, 0%, 0%, $from - $diff*0.963) 82.85%,
        hsla(0, 0%, 0%, $from - $diff*0.981) 88%,
        hsla(0, 0%, 0%, $to) 100%
    );
    // background-image: linear-gradient(
    //     hsla(0, 0%, 0%, $from) 0%,
    //     hsla(0, 0%, 0%, $from - $diff*0.25) 9%,
    //     hsla(0, 0%, 0%, $from - $diff*0.5) 30%,
    //     hsla(0, 0%, 0%, $from - $diff*0.75) 51%,
    //     hsla(0, 0%, 0%, $from - $diff*0.875) 66%,
    //     hsla(0, 0%, 0%, $to) 100%
    // );
}

/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "inuitcss";
@import "responsive";
