---
layout: base
---

<header class="c-site-cover c-site-cover--compact" style="background-image:url(
    {% if page.cover-image %}
        {{ page.cover-image }}
    {% else %}
        {{ site.inc.cover-image }}
    {% endif %}
    );">
</header>

<section class="o-wrapper o-wrapper--large">

    <article class="c-article">

        <header class="c-article__header">
            <h1 class="c-article__title">{{ page.title }}</h1>
            {% if page.subtitle %}
                <h2 class="c-article__subtitle">{{ page.subtitle }}</h2>
            {% endif %}
        </header>

        <section class="c-article__body">

            {{ content }}

        </section>

    </article>

</section>
