---
layout: base
---

<header class="c-site-cover" style="background-image:url({{ site.inc.cover_image }});">

    <div class="c-site-cover__inner">
        <div class="o-wrapper">
            <h1 class="c-site-cover__title">{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}
                <h3 class="c-site-cover__subtitle">{{ site.inc.subtitle }}</h3>
            {% endif %}
        </div>
    </div>

</header>

<section class="o-wrapper u-padding-top-huge">

    <article class="c-article">

        <header class="c-article__header">
            <h1 class="c-article__title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="c-article__subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section class="c-article__body">

            {{ content }}

        </section>

    </article>

</section>
