---
layout: base
---
<div class="blog-cover" style="background-image:url({{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <!-- <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a> -->
        </div>
    </section>

</div>

<article>

    <div class="container">

        <header>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>

            {{ content }}

        </section>

    </div>

</article>
