---
layout: base
---

<header class="c-site-cover"
    style="background-image:url(
        {% if page.cover-image %}/images/{{page.cover-image}}
        {% else %}{{ site.inc.cover-image }}{% endif %}
    );">
</header>

<section class="o-wrapper">

    <div class="u-mb u-hidden@from-tablet">
        <a class="c-btn c-btn--small c-btn--secondary" href="/">&lsaquo; Back</a>
    </div>

    <article class="c-article">

        <header class="c-article__header">
            <div class="c-article__meta">
                By <address>
                    {{ page.author.name }}
                </address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}"
                    title="{{ page.date | date: "%B %d, %Y" }}">
                    {{ page.date | date: "%B %d, %Y" }}
                </time>
                &mdash;
                Categories:
                <ul class="c-category-list">
                    {% for c in page.categories %}
                        <li class="c-category-list__item">
                                <a class="c-category-list__link" href="/category/{{ c | slugify }}">{{ c }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <h1 class="c-article__title">{{ page.title }}</h1>
            {% if page.subtitle %}
                <p class="c-article__subtitle">{{ page.subtitle }}</p>
            {% endif %}
        </header>

        <section class="c-article__body">
            {{ content }}
            {% include _social.html %}
        </section>

        <footer class="c-article__footer">
            <div class="o-flag">
                <div class="o-flag__img">
                    {% if page.author.image %}
                        <img class="c-article__author-image"
                            src="/images/authors/{{ page.author.image }}">
                    {% endif %}
                </div>
                <div class="o-flag__body">
                    <p style="max-width: 400px">
                        Written by <strong>{{ page.author.name }}</strong><br>
                        <span class="u-muted">{{ page.author.bio }}</span>
                    </p>
                </div>
            </div>
        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}

    </article>

    <div class="u-mb u-hidden@from-tablet">
        <a class="c-btn c-btn--small c-btn--secondary" href="/">&lsaquo; Back</a>
    </div>

</section>
