---
layout: base
---

<div class="article-cover">
    <div class="image-wrapper">
        <img src="{% if page.cover_image %}/images/{{page.cover_image}}{% else %}{{ site.inc.cover_image }}{% endif %}" class="image">
    </div>
</div>


<article>

    <div class="container">
        <header>
            <div class="meta">
                By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        <footer>
            <address class="o-flag">
                <div class="o-flag__img">
                    {% if page.author.image %}
                        <img src="/images/authors/{{ page.author.image }}">
                    {% endif %}
                </div>
                <div class="o-flag__body">
                    <p style="max-width: 400px">
                        Written by <strong>{{ page.author.name }}</strong><br>
                        <span class="muted">{{ page.author.bio }}</span>
                    </p>
                </div>
            </address>

        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
